<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong>
  <%= @kondate.title %>
</p>

<p>
  <strong>説明:</strong>
  <%= @kondate.description %>
</p>

<p>
  <strong>主食:</strong>
  <%= link_to @kondate.main_dish.title, @kondate.main_dish %>
</p>

<%= link_to '献立を修正する', edit_kondate_path(@kondate) %> |
<%= link_to '一覧に戻る', kondates_path %>
